{% extends 'blog/base_blog.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="media text-muted pt-3">
        <img src="{{ user.profile.img.url }}" alt="img" class="bd-placeholder-img mr-2 rounded" width="64" height="64">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
            <b>Email:</b> {{ user.email }}
        </p>
    </div>
    <h2>Change info</h2>
     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in update_user %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{field.errors}}
                </div>
            {% endif %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        {% for field in img_profile %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{field.errors}}
                </div>
            {% endif %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}



